*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #24222f;
}

.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background-color: #24222f;
  color: #fff;
}

.btn {
	display: flex;
	justify-content: space-evenly;
}

button {
	background-color: #ffbd27;
	color: #fff;
	padding: 10px;
	border: none;
	text-transform: uppercase;
  width: 150px;
  color: #24222f;
  border-radius: 20px;
}

button:hover {
  background-color: #FFCA52 ;
}